<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="site_id" type="enum" label="30101" values="International (English)|Africa - Congo (Français)|Africa - Senegal (Français)|Africa - South Africa (English)|Argentina (Español)|Australia (English)|Belgium (Nederlands/Français)|Brazil (Portugués)|Chile (Español)|East Asia (English)|Finland (Suomea)|Greece (Ελληνικά)|Hong Kong (繁體中文)|Israel (עברית)|Italy (Italiano)|Japan (日本語)|Mexico (Español)|Philippines (English)|Russia (Русский)|Spain (Español)|Switzerland (Deutsch)|Switzerland (Français)|Thailand (ไทย)" default="International (English)"/>
   <setting id="debug" type="bool" label="30102" default="false"/>
</settings>
